/* ===========================
   LAYOUT
=========================== */
:root{
    --primary-blue:#4F8EF7;
    --primary: #ff6b00;
    --secondary: #38bdf8;
    --sucess:#6FCF97;
    --h1-dark: #ffffff;
    --tema: #F25D27;
    --cor-css: #1d78e7;
    --cor-js: #F2B236;
    --texto: #ec7b12;
    --github: #b918ce;
    --dark: #0f172a;
    --fundo-sidebar: #0f172a;
    --bar: #685a5a2a;
    --background-section: #f9fbfcef;
    /* --shadow: 0 12px 30px rgba(10, 15, 20, 0.18); */
    --shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:0;
    color:#2d3436;
    font-family:  Arial, sans-serif;
    background: linear-gradient(135deg, #003B5C 0%, #0077B6 50%, #FF9F1C 100% );
    background: url("img/charge1.jpg") center center / cover no-repeat fixed;
    overflow-x:hidden;

}

body::before{
    content:"";
    position:fixed;
    inset:0;
    backdrop-filter: blur(1px);
    background:linear-gradient(135deg, rgba(0,35,55,.90), rgba(0,70,110,.82), rgba(0,25,40,.90) );
    z-index:-1;
}

.app{
    display:flex;
    min-height:100vh;
}

/* ===========================
   SIDEBAR
=========================== */

.sidebar{
    width:280px;
    /* background:var(--fundo-sidebar); */
    background:transparent;
    color:var(--h1-dark);
    display:flex;
    flex-direction:column;
    padding:30px 22px;
}

/* ===========================
   LOGO
=========================== */
.logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:30px;
}

.logo-icon{
    width:56px;
    height:56px;
    border-radius:50%; 
    background: var(--primary);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
    box-shadow:0 0 10px rgba(255,255,255,.35);
}

.logo-icon i{
    font-size:28px;
    color:var(--h1-dark);
}

.logo h2{
    text-shadow:0 0 10px rgba(255,255,255,.35);
    font-size:22px;
    font-weight:700;
    line-height:1.2;
}

.logo span{
    text-shadow:0 0 10px rgba(255,255,255,.35);
    display:block;
    /* color:#60a5fa; */
    color: var(--primary);
}

/* ===========================
   MENU
=========================== */

.menu{
    display:flex;
    flex-direction:column;
    gap:10px;
    flex:1;
}

.menu a{
    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
    color:#cbd5e1;
    text-shadow:0 0 10px rgba(255,255,255,.35);
    padding:14px 18px;
    border-radius:14px;
    transition:.25s;
    font-weight:500;
}

.menu a i{
    font-size:20px;
    width:22px;
    text-align:center;
}

.menu a:hover{
    background:#1e293b;
    /* border: 2px solid var(--git); preciso entender o motivo disso causar efeito terremoto*/
    color:#fff;
}

.menu a.active{
    background:var(--primary);
    color:#fff;
    border-radius: 50px;
    box-shadow:0 12px 25px rgba(37,99,235,.35);
}

/* ===========================
   RODAPÉ
=========================== */
.sidebar-footer{  /*Aqui é o container do W*/
    padding:5px;
    margin-bottom: 20px;
}

.user-card{
    display:flex;
    align-items:center;
    gap:12px;
    margin:10px;
}

.avatar{ /*Aqui é o W*/
    width:52px;
    height:52px;
    border-radius:50%;
    background:var(--primary);
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
    font-size:20px;
}

.user-info{
    flex:1;
}

.user-info h4{
    font-size:15px;
    margin-bottom:4px;
}

.user-info small{
    color:#94a3b8;
}

.user-card i{
    color:#94a3b8;
}

.btn-logout{  /*Aqui é o botão sair*/
    width:100%;
    border:1px solid var(--h1-dark);
    background:var(--bar);
    color:#fff;
    border-radius:12px;
    padding: 14px 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    font-size:15px;
    cursor:pointer;
    transition:.25s;
}

.btn-logout:hover{
    background:var(--primary);
}

/* ===========================
   FIM DA SIDEBAR
=========================== */


/* ==================================================
   TOPBAR
================================================== */
.main{
    flex:1;
    min-width:0;

}

/* Barra */
.topbar{
    height:90px;
    width: 100%;
    background:linear-gradient(135deg, rgba(0,35,55,.90), rgba(0,70,110,.82), rgba(0,25,40,.90) );
    backdrop-filter: blur(1px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 34px;
    border-bottom:1px solid #ececec;
}

/* -------------------------- */

.topbar-left{
    display:flex;
    align-items:center;

}

/* Botão menu */

.menu-btn{
    width:44px;
    height:44px;
    border:none;
    background:transparent;
    cursor:pointer;
    margin-right:28px;
    display: none;
}


.menu-btn i{
    font-size:34px;
    color:var(--h1-dark);

}

/* Saudação */

.welcome h1{
    margin:0;
    font-size:21px;
    font-weight:700;
    color: var(--h1-dark);
    line-height:1;

}

.welcome span{
    color: var(--texto);
}

.welcome p{ /*Veja o resumo geral do sistema*/
    margin-top:10px;
    font-size:14px;
    color:var(--background-section);

}

/* -------------------------- */

.topbar-right{

    display:flex;

    align-items:center;

    gap:24px;

}

/* Sino */

.notification{

    width:42px;

    height:42px;

    border:none;

    background:transparent;

    cursor:pointer;

    position:relative;

}

.notification i{
    font-size:28px;
     filter:
    drop-shadow(0 0 5px var(--cor-js))
    drop-shadow(0 0 10px var(--cor-js))
    drop-shadow(0 0 20px var(--cor-js));
  transform: scale(1.2);
  color: var(--cor-js);


}

/* Badge */
.notification-badge{
    position:absolute;
    top:3px;
    right:2px;
    width:18px;
    height:18px;
    border-radius:50%;
    background:var(--primary);
    color:#fff;
    font-size:10px;
    font-weight:700;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* -------------------------- */

/* Perfil */

.profile{
    display:flex;
    align-items:center;
    gap:12px;
    cursor:pointer;
}

/* Avatar */
.profile-avatar{
    width:42px;
    height:42px;
    border-radius:50%;
    background:var(--primary);
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    font-weight:700;
}

/* seta */

.profile i{

    color:#9b9b9b;

    font-size:14px;

}

/* ==================================================
   RESPONSIVO
================================================== */


/* ==================================================
FIM DA TOPBAR
================================================== */

.busca{
    padding:0 15px;
    font-size:1rem;
    font-weight:600;
}

button{
    transition:.15s ease;
}

button:hover{
    transform:translateY(-2px);
}

button:active{
    transform:translateY(1px);
}

/* GRID */
.dashboard{
    max-width:1400px;
    padding:20px;
    display:grid;
    display:grid;
    grid-template-columns:minmax(320px,500px) 1fr;
    gap:30px;
    
}

/* CARD */
.card{
    background:#fff;
    border-radius:16px;
    padding:20px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.busca-card{
    width:100%;
}

/* BUSCA */
.busca-card h3{
    margin-bottom:15px;
}

.search-box{
    display:flex;
    align-items:center;
    gap:15px;
}

.search-box input{
    flex:1;
}

.busca{
    border-radius: 10px;
}

.placa-main{
    background: #111;
}

/* PLACA GRANDE */
.placa1{
    width:205px;
    height:80px;
    background:#fff;
    border:2px solid #fff;
    border-radius:10px;
    overflow:hidden;
    margin:0 auto 20px;
    box-shadow:0 4px 10px rgba(0,0,0,.3);
}

.placa{
    width:200px;
    height:75px;
    background:#fff;
    border:3px solid #333;
    border-radius:10px;
    overflow:hidden;
    margin:0 auto 20px;
    box-shadow:0 4px 10px rgba(0,0,0,.3);
}

/* FAIXA AZUL */
.placa-topo{
    background:#0039A6;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    letter-spacing:-1px;
    font-size:14px;
}


/* ÁREA DO NÚMERO */
.placa-numero{
    height:calc(100% - 24px);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:900;
    color:#111;
    letter-spacing:4px;
    font-family:"Arial Black", Arial, sans-serif;
}


/* INPUT VIRANDO PLACA */
.placa-numero input{
    width:100%;
    height:100%;
    border:none;
    outline:none;
    background:transparent;
    text-align:center;
    font-size:28px;
    font-weight:900;
    letter-spacing:3px;
    color:#111;
    font-family:"Arial Black", Arial, sans-serif;
    text-transform:uppercase;
}


/* PLACEHOLDER PARECENDO PLACA */
.placa-numero input::placeholder{
    color:#aaa;
    opacity:.7;
}

input,
select,
textarea{
    outline:none;
    transition:.25s ease;
}

input:not(.placa-numero input){
    border:1px solid #dfe6e9;
}

.search-box button{
    background:#EC7000;
    color:#fff;
    border:none;
    padding:15px 35px;
    border-radius:40px;
    cursor:pointer;
}

/* VEÍCULO */
.veiculo-card{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.veiculo-nome{
    font-size:1.3rem;
    font-weight:700;
}

.veiculo-detalhes{
    margin:8px 0;
    color:#6c757d;
}

.veiculo-carro{
    font-weight:600;
    color:#003B5C;
}

/*==================================================
KPIs
==================================================*/

main{
    box-sizing: border-box;
}

.kpis{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    padding: 20px;
    gap:20px;
    margin: 30px;
}

/* Card */
.kpi-card{
    position:relative;
    background: var(--background-section);
    border-radius:22px;
    padding:30px;
    overflow:hidden;
    box-shadow:0 12px 30px rgba(15,23,42,.06);
    transition:.30s;
}

/* animação */

.kpi-card:hover{
    transform:translateY(-6px);
    box-shadow:0 22px 40px rgba(0,0,0,.10);
}

/* barra lateral */
.kpi-card::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:6px;
    height:100%;
}

/* cores */

.hoje::before{
    background:#f28b16;
}

.azul::before{
    background:#2563eb;
}

.verde::before{
    background:#4aa316;
}

/* decoração */
.kpi-decoration{
    position:absolute;
    top:30px;
    right:24px;
    display:grid;
    grid-template-columns:repeat(3,8px);
    grid-template-rows:repeat(3,8px);
    gap:12px;
}

.kpi-decoration span{
    width:10px;
    height:10px;
    border-radius:50%;  
}

.hoje .kpi-decoration span{
    background:#e2a25a;
}

.azul .kpi-decoration span{
    background:#8fabe7;
}

.verde .kpi-decoration span{
    background:#73cc94;
}

/* círculo */
.kpi-icon{
    width:72px;
    height:72px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    /* margin:auto; deixa a círculo centralizado*/
    margin-bottom:28px;
}

/* cores dos círculos */
.hoje .kpi-icon{
    background:#fff3e8;
    color:#f28b16;
}

.azul .kpi-icon{
    background:#edf4ff;
    color:#2563eb;
}

.verde .kpi-icon{
    background:#edfdf2;
    color:#16a34a;
}

.kpi-icon i{
    font-size:32px;
}

/* número */

.kpi-card h2{
    font-size:54px;
    text-align:center;
    line-height:1;
    margin-bottom:10px;
    font-weight:700;
}

.hoje h2{
    color:#f28b16;
}

.azul h2{
    color:#2563eb;
}

.verde h2{
    color:#16a34a;
}

/* título */
.kpi-card h4{
    text-align:center;
    color:#1e293b;
    margin-bottom:24px;
    font-size:20px;
}

/* rodapé */
.kpi-footer{
    margin-top:auto;
    border-radius:12px;
    border:1px solid rgba(102, 21, 21, 0.03);
    padding:12px 18px;
    display:flex;
    justify-content:left;
    align-items:center;
    gap:10px;
    height:48px;
}

/* Hoje */
.hoje .kpi-footer{
    background:linear-gradient(
        90deg,
        #fffdfb 0%,
        #fef5eb 100%
    );

}

/* Livres */
.azul .kpi-footer{
    background:linear-gradient(
        90deg,
        #fbfcff 0%,
        #eef3ff 100%
    );
}

/* Em Uso */
.verde .kpi-footer{
    background:linear-gradient(
        90deg,
        #fbfffc 0%,
        #eef9f0 100%
    );
}

.hoje .kpi-footer i{
    color:#f28b16;
}

.azul .kpi-footer i{
    color:#2563eb;
}

.verde .kpi-footer i{
    color:#16a34a;

}

.kpi-footer span{
    font-size:14px;
    color:#64748b;
    font-weight:500;
}

/*fim dos kpis*/

/*==================================================
ESTAÇÕES DE CARREGAMENTO
==================================================*/
.stations{
    padding:30px;
    box-shadow:0 12px 30px rgba(15,23,42,.06);
    margin:30px;
}

/*=========================
    CABEÇALHO
=========================*/
.stations-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:28px;
}

.carregamento{
    border-left: 5px solid var(--primary);
    padding-left: 10px;
}

.stations-header h2{
    font-size:28px;
    color:var(--h1-dark);
    font-weight:700;
    margin-bottom:6px;
    text-shadow:0 0 10px rgba(255,255,255,.35);
}

.stations-header p{
    color: var(--h1-dark);
    font-size:15px;
    text-shadow:0 0 10px rgba(255,255,255,.35);
}


.title{
    color:white;
    border: 1px solid var(--cor-js);
    border-radius:50%;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 0 10px rgba(255,255,255,.35);
}

.title span{
    opacity:.8;
    font-size: 50px;
    text-shadow:0 0 10px rgba(255,255,255,.35);
}


/*=========================
BOTÃO
=========================*/
.btn-new{
    border:none;
    background: var(--texto);
    color:#fff;
    padding:14px 22px;
    border-radius:50px;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:10px;
    font-size:15px;
    font-weight:600;
    transition:.25s;
}

.btn-new:hover{
    background:var(--primary);
    transform:translateY(-2px);
}

/*=========================
    BARRA DE AÇÕES
=========================*/
.stations-toolbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
    margin-bottom:30px;
}

/* =========================
   TOOLBAR DE FILTROS
========================= */

/* Grupo dos botões */
.botoes-filtros {
    display: flex;
    gap: 12px;
    align-items: center;
}

.filtro-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 22px;
    border-radius: 12px;
    font-size: 0.95rem;
    font-weight: 600;
    transition: all .25s ease;
}

/* Ícones */
.filtro-btn i {
    font-size: 1.1rem;
}

/* Hover*/
.filtro-btn:hover {
    transform: translateY(-2px);
    cursor: pointer;
}


/* Estado ativo */

/* Todos */
.btn-outline-danger {
    border-radius: 50px !important;
    background-color: transparent;
    color: #ec7b12 !important;
    border-color: #ec7b12 !important;

}

/* Ativo - Em uso */
.btn-outline-primary {
    border-radius: 50px !important;
    background-color: transparent;
    color: #0d6efd !important;
    border-color: #0d6efd !important;
}


/* Ativo - Livres */
.btn-outline-success {
    border-radius: 50px !important;
    background-color: transparent;
    color: #198754 !important;
    border-color: #198754 !important;
}

/*=========================
PESQUISA
=========================*/

/* Ativo todos (laranja) */
.btn-outline-danger.active {
  background-color: #ec7b12 !important;
  border-color: #ec7b12 !important;
  color: #fff !important;
}

/* Ativo Em uso (azul) */
.btn-outline-primary.active { /*btn-danger*/
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  color: #fff !important;
}

/* Ativo Livres (Verde)*/
.btn-outline-success.active {
    background-color: #198754 !important;
    border-color: #198754 !important;
    color: #fff !important;

}

/* =========================
   CONTADORES
========================= */
.contadores {
    margin-top: 10px;
    display: flex;
    gap: 40px;
}

.contadores .badge {
    padding: 5px 26px;
    font-size: .85rem;
    border-radius: 50px;
}

.bg-danger{
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
    color: #fff !important;
}

.bg-primary{
    background-color: #ec7b12 !important;
    border-color: #ec7b12 !important;
    color: #fff !important;
}

.bg-success{
    background-color: #198754 !important;
    border-color: #198754 !important;
    color: #fff !important;
}

/*=========================
 GRID
=========================*/
.station-grid{
    display:grid;
    /* grid-template-columns:repeat(3,1fr); */
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:24px;
}

/*=========================
CARD
=========================*/
.station-card{
    background:#fbfcfe;
    border:1px solid #edf2f7;
    border-radius:20px;
    padding:24px;
    transition:.30s;
    position:relative;
}

.station-card:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,.08);
}

/*=========================
TOPO CARD
=========================*/
.station-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:24px;
}

/*=========================
ÍCONE
=========================*/

.station-icon{
    width:70px;
    height:65px;
    border-radius:50%;
    background:#edf4ff;
    display:flex;
    justify-content:center;
    align-items:center;
}

.station-icon i{
    font-size:26px;
    color:#2563eb;
}

.station-icon.azul{
    background:#dbeafe;
}

.station-icon.verde{
    background:#dcfce7;
}

.station-icon.verde i{
    color:#16a34a;

}

/*=========================
STATUS
=========================*/
.status{
    padding:7px 14px;
    border-radius:50px;
    font-size:13px;
    font-weight:600;
}

.status.uso{
    background:#dcfce7;
    color:#15803d;
}

.status.livre{
    background:#dbeafe;
    color:#1d4ed8;
}

/*=========================
TÍTULO
=========================*/
.station-card h3{
    font-size:22px;
    font-weight: 800;
    color:#1e293b;
    margin-bottom:8px;
}

.station-card p{
    padding: 10px;
    color:#64748b;
    margin-bottom:20px;
    font-weight: 800;
    border-bottom: 2px solid #64748b;
}

/*=========================
LISTA
=========================*/

.station-card ul{
    list-style:none;
    margin:0;
    padding:0;
    /*Aqui para uma coluna*/
    display:flex;
    flex-direction:column;
    gap:14px; 
    /*Aqui para duas coluna
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 20px; (linha | coluna0 */
    margin-bottom:24px;
}

.station-card li{
    display:flex;
    align-items:center;
    gap:10px;
    color:#475569;
    font-size:15px;
    font-weight: 600;
}

.station-car{
    display:flex;
    justify-content:center;
    align-items:center;
}

.station-card li i{
    color:#2563eb;
}

/*=========================
BOTÃO
=========================*/

.station-card button {
    width:100%;
    height:48px;
    border:none;
    border-radius:12px;
    background:#dcfce7;
    color:#0b5e29;
    font-weight:800;
    cursor:pointer;
    transition:.25s;
}

.station-card .status.uso:hover{
    background:#25994d;
    color:#a2e28e;
}

.station-card .status.livre:hover{
    background:#11337c;
    color: #fff;
}



/* ===================== Seção Rodapé - Footer ===================== */
.footer{
    margin-top: 60px;
    padding: 50px 30px;
    background: rgba(15,23,42,.75);
    backdrop-filter: blur(8px);
    border-top: 1px solid rgba(255,255,255,.08);
    text-align: center;
    position: relative;
}

.footer h3{
    color:#fff;
    margin-bottom:12px;
}

.footer p{
    color:#94a3b8;
    margin-bottom:8px;
}

.copyright{
    font-size:.9rem;
    color:#64748b;
}

.top{
    position:absolute;
    right:30px;
    bottom:30px;
    width:48px;
    height:48px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background:var(--primary);
    color:#fff;
    text-decoration:none;
    box-shadow:0 8px 20px rgba(0,0,0,.25);
    transition:.3s;
}

.top:hover{
    transform:translateY(-4px);
    background:#ff7f22;
}

/*=========================
RESPONSIVO
=========================*/
/* ===========================
   MENU MOBILE
=========================== */

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    opacity:0;
    visibility:hidden;
    transition:.3s;
    z-index:998;
}

.overlay.active{
    opacity:1;
    visibility:visible;
}

@media (max-width:768px){
    .app{
        display:block;
    }

    .sidebar{
        background:var(--fundo-sidebar);
        position:fixed;
        top:0;
        left:-280px;
        width:280px;
        height:100vh;
        z-index:1000;
        transition:left .3s ease;
    }

    .sidebar.active{
        left:0;
    }

    .main{
        width:100%;
        margin-left:0;
    }
     .top {
        position: static;
        margin: 20px auto 0;
    }
}

@media (max-width:768px){

    .dashboard{
        grid-template-columns:1fr;
    }

    .search-box{
        flex-direction:column;
        align-items:center;
    }

    .search-box button{
        width:100%;
    }

    .kpis{
        margin:20px;
    }

    .stations{
        margin:20px;
        padding:20px;
    }

}

@media (max-width:992px){
    .menu-btn{
        display:flex;
        justify-content:center;
        align-items:center;
    }

}